*{
    position: relative;

}


header{
    border-radius: 20px;
    width: 1000px;
    height: 200px;
    background-color: wheat;
    margin: 50px;
    text-align: center;
    color: brown;
}    


h1{
    font-size: 45px;
    margin-top: 70px;
    padding: 20px;
}

.navbar nav{
text-align: center;
font-size:20px;
}

nav a{
    text-align: center;
    color:black;
    padding: 20px;
}
nav {
    padding: 10px;
    font-size:20px;
    text-align: center;
    color: antiquewhite;
}
div{
border-radius: 20px;
width:400px;
height: 200px;
padding: 20px;
background-color: gray;
}
footer{
    background-color:darkgoldenrod;
    margin: 20px;
    color: blue;
}